doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Marvel Game Card
	link(rel="stylesheet", href="./app.css")
body
	h1 Marvel Game Card
	div(class="Card")
		h2(class="Card-name") Wolverine
		img(src="./images/wolverine.jpg", alt="Wolverine", class="Card-image")
		div(class="Card-description") Wolverine es muy poderoso
		div(class="Card-attack") 500 puntos de ataque