test(color = red)
	border: 1px solid color
	box-sizing: border-box

@import "./card/styles"
@import "./layout/styles"
@import "./status/styles"
@import "./phases/styles"
@import "./battle/styles"

body
	font-family Arial
	font-size 16px
	margin 0