doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Marvel Game Card
	link(rel="stylesheet", href="./public/css/app.css")
body
	section(class="Layout")
		section(class="Layout-antagonist") antagonist
		section(class="Layout-main")
			div(class="Layout-status") status
			div(class="Layout-battle") battle
			div(class="Layout-phases") phases
		section(class="Layout-player") player